.image-wrap {
    margin: 10px;
}

.image-wrap.left {
    float: left;
    width: 45%;
}

.image-wrap.right {
    float: right;
    width: 45%;
}

.image-wrap img {
    max-width: 100%;
    height: auto;
}


.text-justify {
    text-align: justify;
}


.content {
    max-width: 80%; /* Increase the content width */
    margin: 0 auto; /* Center the content */
    padding: 10px; /* Adjust padding as needed */
}
