.image-wrap {
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.image-wrap.left {
    float: left;
    width: 45%;
}

.image-wrap.right {
    float: right;
    width: 45%;
}

.image-wrap img {
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.clear {
    clear: both;
}

.text-justify {
    text-align: justify;
}

p {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.avatar-wrapper {
  position: relative;
  width: 225px; /* Match image size in about.avatar widget */
  height: 225px;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  width: auto;
  height: auto;
  max-width: 225px;
  max-height: 225px;
  object-fit: cover;
}

.callout {
  text-align: justify;
}


.teaching-section {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between each course block */
}

.course-block {
    display: flex;
    align-items: center;
    padding: 15px;
}

.course-logo {
    width: 250px; /* Adjust the logo size */
    height: auto;
    margin-right: 20px; /* Space between logo and details */
}

.course-details {
    flex: 1; /* Allow course details to take the remaining space */
}

.course-title {
    margin: 0;
}

.course-years {
    color: #555; /* Lighter color for academic years */
    margin-bottom: 10px;
}

.course-description {
    color: #333; /* Main text color */
    text-align: justify; /* Justify text */
    font-size: 0.75em;
}
